.content{
    padding-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 10%;
}


.footerBlock{
    position: absolute;
    left: 0;
    bottom: 0;
    width: auto;
    height: 80px;
}

@media (min-width: 200px) and (max-width: 600px){
    .content{
        padding-bottom: 10%;
        padding-top: 3%;
        padding-bottom: 26%;
    }
 
}
