{% extends "patern.html" %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/startpage.css') }}"> 
{% endblock %}

{% block title %}
Головна
{% endblock %}


{% block article %}
<center><h1 class="titleaArt">Останні новини</h1></center>
<div class="art1">
<div class="slider">
    <div class="slider__item">
        <div class="startTextFromNew">
            <img src="{{ url_for('static', filename='img/01.jpg') }}" alt="" srcset="" class="imgStyle">
            <div class="blurBack">
                <h1 class="titleNew">Про нас</h1>
                <p class="piceNew">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur alias natus totam animi! Rerum, nemo fugit officiis assumenda non ipsa fugiat minus voluptatum eius iure atque odio, blanditiis consequuntur quibusdam vero optio adipisci modi, eos dicta qui. Quia, deserunt voluptatem cupiditate laborum qui laboriosam quos.</p>
                <div class="readMore">
                   <a href="№" class="read">Деталі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__item">
        <div class="startTextFromNew">
            <img src="{{ url_for('static', filename='img/02.jpg') }}" alt="" srcset="" class="imgStyle">
            <div class="blurBack">
                <h1 class="titleNew">Про нас</h1>
                <p class="piceNew">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur alias natus totam animi! Rerum, nemo fugit officiis assumenda non ipsa fugiat minus voluptatum eius iure atque odio, blanditiis consequuntur quibusdam vero optio adipisci modi, eos dicta qui. Quia, deserunt voluptatem cupiditate laborum qui laboriosam quos.</p>
                <div class="readMore">
                   <a href="№" class="read">Деталі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider__item">
        <div class="startTextFromNew">
            <img src="{{ url_for('static', filename='img/01.jpg') }}" alt="" srcset="" class="imgStyle">
            <div class="blurBack">
                <h1 class="titleNew">Про нас</h1>
                <p class="piceNew">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur alias natus totam animi! Rerum, nemo fugit officiis assumenda non ipsa fugiat minus voluptatum eius iure atque odio, blanditiis consequuntur quibusdam vero optio adipisci modi, eos dicta qui. Quia, deserunt voluptatem cupiditate laborum qui laboriosam quos.</p>
                <div class="readMore">
                   <a href="№" class="read">Деталі</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<center><h1 class="titleaArt">Про нас</h1></center>
<div class="art1">
    <p class="textFount">
        Мальовничий куточок Чернівців, гаптований айстрами та чорнобривцями, помережаний безліччю вулиць, вуличок і провулків… Так, мова йде про самобутню і стародавню Садгору. 
        Проте, нині це – сучасний, промисловий, культурний і освітній осередок, куди з центру щоранку курсують переповнені маршрутні таксі. 6 шкіл чекають своїх учнів, проте дуже 
        скрутно доводиться нашій малечі. Адже 3 найближчі ДУ не мають змоги прийняти всіх бажаючих малюків.
    </p> 
    <p class="textFount">       
        І ось, маємо нагоду вітати з новосіллям! Вперше за останні 20 років на базі ЗОШ №34, яка реорганізовується у НВК «Берегиня» відкривається 4 садкові групи. З метою оптимізації 
        навчально – виховного процесу та охоплення навчанням дітей дошкільного віку було ухвалено рішення 56 сесії V скликання ЧМР від 26.08. 2010 р. «Про реорганізацію з
        агальноосвітньої школи І – ІІІ ступенів №34 Чернівецької міської ради шляхом перетворення в комунальний дошкільний – загальноосвітній навчальний заклад «Навчально – виховний 
        комплекс «Берегиня» Чернівецької міської ради» про відкриття першого в місті такого типу. У затишних, теплих, просторих приміщеннях діти будуть оточені турботою і з 
        радістю пізнаватимуть світ.
    </p>   
    <p class="textFount">    
        Тут все передбачено для зручності, безпеки і гармонійного розвитку дитини. Оновлені та утеплені ігрові кімнати, спальні, обладнані сучасною сантехнікою вбиральні, а також 
        закуплені нові дитячі меблі.
        Подвір’я садка – справжній фруктовий сад, поруч гральний майданчик з гіркою і гойдалками. У затінку саду височіє пам’ятник Макаренку, який ніби пильнує за своїми вихованцями.
    </p> 
    <p class="textFount">        
        Дружній та творчий тандем вчителів комплексу забезпечать всебічний і гармонійний розвиток маленьких чернівчан. Діти матимуть змогу граючись навчатись і легко адаптуються 
        до шкільного життя. Важливо й те, що вихованці цього садка займатимуться не лише базовими дисциплінами довкілля, але й хореографією, логікою, англійською мовою. 
        Школярі ж стануть малюкам старшими товаришами, які залюбки організують пізнавально – розважальні заходи: лялькові вистави, спортивні естафети, ігрові хвилинки, конкурси і
        концерти.
    </p>     
    <p class="textFount">      
        У сонячних променях виблискує свіжа зелень саду, серед якого у віночку квітників красується ошатна будівля, схожа на палац із дитячих казок. Тут музика дитячого сміху, захоплена 
        тиша уроку, солодкі пахощі теплого молока і матусиних пиріжків.
    </p>   
    <center><video controls="controls" class="video1" src="{{ url_for('static', filename='video/video.mp4') }}" style="background-color: #000;"></video></center>
</div>  

<center><h1 class="titleaArt">керівництво</h1></center>
<div class="art2">
    <div class="leadershipInfo">
        <div class="leadership">
                <div class="picture">
                    <img src="/static/img/pc1.png" alt="Деректор НВК 'Берегиня'" class="sizePicture">
                </div>
                <div class="infoLeadership">
                    <p class="infoText">
                        Капустяк Галина Панасівна 
                        – директор НВК” Берегиня”</p>
                </div>
                <div class="addInfo">
                    <b><p class="infoTex">detail info</p></b>
                </div>  
        </div>
        <div class="leadership_1">
                <div class="picture">
                    <img src="/static/img/pc1.png" alt="Деректор НВК 'Берегиня'" class="sizePicture">
                </div>
                <div class="infoLeadership">
                    <p class="infoText">
                        Капустяк Галина Панасівна 
                        – директор НВК” Берегиня”</p>
                </div>
                <div class="addInfo">
                    <b><p class="infoTex">detail info</p></b>
                </div>           
        </div>

        <div class="leadership_2">
                <div class="picture">
                    <img src="/static/img/pc1.png" alt="Деректор НВК 'Берегиня'" class="sizePicture">
                </div>
                <div class="infoLeadership">
                    <p class="infoText">
                        Капустяк Галина Панасівна 
                        – директор НВК” Берегиня”</p>
                </div>
                <div class="addInfo">
                    <b><p class="infoTex">detail info</p></b>
                </div>   
        </div>
    </div>  
</div>

<center><h1 class="titleaArt">контакти та зворотній з'язок</h1></center>
<div class="art3">
    <div class="infTexs">
        <pre class="infTexs">
        Адреса закладу:
        58025, м. Чернівці, вулиця Карбулицького, 2.
        Телефон робочий: 560-181.560-281
        Електронна адреса:
        cvznz-34@meta.ua
        </pre>
        <div class="forms">
            <form action="" class="forms">
                    <input type="text" name="name" id="name" class="form-control" placeholder="ім’я та прізвеще (обов’язково)">
                    <br>
                    <input type="text" name="email" id="email" class="form-control" placeholder="gmail пошта(обов’язково)">
                    <br>
                    <input type="text" name="topic" id="topic" class="form-control"placeholder="тема">
                    <br>
                    <textarea name="leter" id="leter" cols="auto" rows="14" class="form-control" placeholder="повідомлення"></textarea>
                    <br>
                </form>
        </div>
    </div>
    
     <div class="divMap">
        <iframe class="divMap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2651.962893609437!2d25.945569315720917!3d48.34201854487857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473407f12858229d%3A0x5d0947a282bc977e!2sBerehynya%2C%20Navch.-Vykhovnyy%20Kompleks!5e0!3m2!1sru!2sua!4v1627376097832!5m2!1sru!2sua" style='width: 100%; height: 100%; style="border:0; left: 40%; position: relative;"' allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/sliderNewsScript.js') }}"></script>
{% endblock %}